/* Font Poppins  */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Navbar Styling */
#header {
    background-color: #333;
    padding: 10px 0;
    /* Padding at the top and bottom of the navbar */
}

#header .navbar-brand img {
    max-width: 120px;
    /* Adjust the max-width of the logo */
}

#header .navbar-nav {
    margin-left: auto;
    /* Aligns the navbar items to the right */
}

#header .navbar-nav .nav-item {
    margin-left: 15px;
    /* Adjust the space between navbar items */
}

#header .nav-link {
    color: #fff;
    /* Color of the navbar links */
    font-weight: 500;
    /* Font weight of the navbar links */
}

#header .nav-link:hover {
    color: #f01543;
    /* Color of the navbar links on hover */
}

#header .dropdown-menu {
    background-color: #ffffff;
    /* Background color of the dropdown menu */
}

#header .dropdown-item {
    color: #333;
    /* Color of the dropdown items */
}

#header .dropdown-item:hover {
    background-color: #f8f9fa;
    /* Background color of the dropdown items on hover */
}

#header .navButton .btn {
    margin-left: 15px;
    /* Adjust the space between buttons */
}

#header .login {
    background-color: #f01543;
    /* Background color of the login button */
    border: none;
    /* Removes border */
}

#header .signup {
    background-color: transparent;
    /* Background color of the sign up button */
    border: 1px solid #f01543;
    /* Border color of the sign up button */
    color: #f01543;
    /* Text color of the sign up button */
}

#header .signup:hover {
    background-color: #f01543;
    /* Background color of the sign up button on hover */
    color: #ffffff;
    /* Text color of the sign up button on hover */
}

/* Optional: Responsive Adjustments */
@media (max-width: 768px) {
    #header .navButton {
        margin-top: 10px;
        /* Adjusts spacing for buttons on smaller screens */
    }

    #header .navbar-collapse {
        border-top: 1px solid #f8f9fa;
        /* Adds a border at the top of the collapsed navbar */
    }

    #header .dropdown-menu {
        border: none;
        /* Removes border from dropdown menu */
    }
}

section#registerSec {
    background: linear-gradient(90deg, #f01543 -1.58%, #fe724c 100%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.formbox {
    width: 470px;
    margin: auto;
    padding: 40px 40px 80px 40px;
    background: #000;
    border-radius: 20px;
}

.formTitle {
    margin: auto;
    text-align: center;
}

.formTitle h2 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 60px;
}

.formField label {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 15px;
}

.formField input {
    border-radius: 5px;
    margin-bottom: 25px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.formSubmit {
    text-align: center;
}

.formField button {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 40px;
    background: linear-gradient(90deg, #f01543 -1.58%, #fe724c 100%);
    border: 1px solid #f01543;
    transition: .5s ease all;
}

.formField button:hover {
    background: transparent !important;
    border-color: #fff;
}